
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.container{
    margin: auto; /*This is to put the container in the middle of the screen*/
    text-align: center;
    padding-top: 10px;
    width: 900px;
    max-width: 90vw;
    transition: transform .5s;
}

.fa-cart-shopping{
    width: 30px;
}

header{
    display: flex; /*I want the two items to be on the same row*/
    align-items: center;
    justify-content: space-between; /*This separates the items to be on both ends*/
}

header .fa-cart-shopping span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 30px;
    position: absolute;
}

header .fa-cart-shopping{
    position: relative;
}

.listProducts .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px black);
}

.listProducts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProducts .item{
    padding: 20px;
    border-radius: 30px;
}

.listProducts .item h2{
    font-weight: 500;
}
.listProducts .item .price{
    letter-spacing: 7px;
    font-size: small;
}

.listProducts .item button{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}
body.showCart .cartTab{
    inset: 0 0 0 auto;
}

body.showCart .cartTab {
    display: block;  /* Show the cart when showCart class is added */
}

body:not(.showCart) .cartTab {
    display: none;  /* Hide the cart when showCart class is not added */
}

body.showCart .container{
    transform: translateX(-250px);
}

.cartTab{
    width: 400px;
    background-color: black;
    color: white;
    position: fixed; /*cart tab will overlap the website content*/
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .cartButton{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*Makes the two buttons to be on 2 columns*/
}

.cartTab .cartButton button{
    background-color: yellow;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .cartButton .close{
    background-color: red;
}

.cartTab .listCart .item img{
    width: 100%;
}
.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: white;
    color: #555;
    border-radius: 30px;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}

.listCart .item:nth-child(even){
    background-color: #eee1;
}

/*If there are too many items, list cart will generate a scroll bar to preserve the original*/
.listCart{
    overflow: auto;
}

/*if you want to hide the scroll bar*/
.listCart::-webkit-scrollbar{
    width: 0;
}

