body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sign-in{
    padding: 20px 30px;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    border: 1px solid;
}
.sign-in .form{
    padding: 10px 20px;
}
.sign-in .form h2{
    text-align: center;
    color: black;
    font-weight: 300;
    margin-bottom: 10px;
}
.sign-in .form form{
    margin-top: 50px;
    align-items: center;
}
.sign-in .form form .input-box input{
    padding: 10px 20px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}
.sign-in .form form .input-box span{
    position: absolute;
    transform: translateY(-80px);
    color: black;
}
.sign-in .form form .sub{
    cursor: pointer;
    background: #0cc0df;
    padding: 10px 20px;
    border: none;
    outline: none;
}

