.apple-container {
    height: 100vh;
    grid-column: 3 / 5; /* Starts at column 3, spans to column 5 */
  }
  .img-space{
    grid-column: 1 / span 2; /* Starts at column 1, spans 2 columns */
    background-repeat: no-repeat;
    background-position: center 50px;
  }
  .iphone-name{
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .number-of-sales{
    color: #079ad9;
  }
  .iPhone11-pro-navigationbar{
    margin: 0 1.5rem 0 1.5rem;
  }
  .sales-made{
    font-size: 1rem;
  }
  .variant-memory{
    font-size: 14px;
    margin-top: 2.5rem;
  }
  .variant-page{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    margin: 1.5rem;
  }
  .radio-tile-group {
    display: flex;
    flex-wrap: wrap;
  }
  .radio-tile-group .input-container {
    position: relative;
    height: 3rem;
    width: 7rem;
    margin: 0.5rem;
  }
  .radio-tile-group .input-container .radio-button {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
  }
  .radio-tile-group .input-container .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    transition: transform 300ms ease;
  }
  .radio-tile-group .input-container .radio-tile-label {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
  }
  .radio-tile-group .input-container .radio-button:checked + .radio-tile {
    background-color: #079ad9;
    border: 2px solid #079ad9;
    color: white;
    transform: scale(1.1, 1.1);
  }
  .radio-tile-group .input-container .radio-button:checked + .radio-tile .icon svg {
    fill: white;
    background-color: #079ad9;
  }
  .radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
    color: white;
    background-color: #079ad9;
  }