html {
    background-color: #fff;
    overflow: hidden;
  }
.page-2{
  display: flex;
}
.samsung-navigationbar{
  padding: 1rem 1.5rem 0 1.5rem ;
  margin-bottom: 20px;
}
  .middle {
    width: 100%;
    text-align: center;
    display:flex;
    column-gap: 1rem;
    
    /* Made by */
  }
  .how-techturnover-works{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  .mechanism{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .work-reason{
    display: flex;
    align-items: center;
  }
  .work-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .w-24{
    width: 6rem;
  }
  img, video {
    max-width: 100%;
    height: auto;
}
  .techturnover-function{
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem 0 1.5rem ;
  }
  .techturnover-how{
    display: flex;
    flex-direction: column;
  }
  .how-it-works{
    text-align: start;
    margin: 0;
  }
  .work-explanation{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .work-title{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 16px;
    justify-content: center;
  }
  .numbering{
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(66, 200, 183);
    text-align: center;
    color: white;
    height: 25px;
    width: 25px;
  }
  .process{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .work-h2{
    font-weight: 600;
    margin: 0; /*clockwise*/
  }
  .work-statement{
    font-weight: 500;
    color: rgb(107 114 128);
    font-size: 18px;
    margin-top: 16px;
    text-align: center;
  }
  /* selling brands */
  .small-heading{
    color: black;
    font-weight: bold;
    padding: 1rem 1.5rem 0 1.5rem;
}
.brands{
    border-radius: 6px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 10rem;
    cursor: pointer;
    }
.brands-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    padding: 1rem 1.5rem 0 1.5rem;
}
  .middle h1 {
    font-family: "Inter", sans-serif;
    color: #fff;
  }
  .middle input[type=radio] {
    display: none;
  }
  .middle input[type=radio]:checked + .box {
    background-color: #007e90;
  }
  .middle input[type=radio]:checked + .box span {
    color: #efefef;
    transform: translateY(70px);
  }
  .middle input[type=radio]:checked + .box span:before {
    transform: translateY(0px);
    opacity: 1;
  }
  .middle .box {
    width: 200px;
    height: 200px;
    background-color: #efefef;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    border-radius:6px;
    border:1px solid #ddd
  }
  .middle .box:active {
    transform: translateY(10px);
  }
  .middle .box span {
    position: absolute;
    transform: translate(0, 60px);
    left: 0;
    right: 0;
    transition: all 300ms ease;
    font-size: 1.5em;
    user-select: none;
    color: #007e90;
  }
  .middle .box span:before {
    font-size: 1.2em;
    font-family: FontAwesome;
    display: block;
    transform: translateY(-80px);
    opacity: 0;
    transition: all 300ms ease-in-out;
    font-weight: normal;
    color: white;
  }
  .middle .front-end span:before {
    content: "";
  }
  .middle .back-end span:before {
    content: "";
  }
  .middle p {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }
  .middle p a {
    text-decoration: underline;
    font-weight: bold;
    color: #fff;
  }
  .middle p span:after {
    content: "";
    font-family: FontAwesome;
    color: yellow;
  }
  .functionality-container{
    display: flex;
    gap: 20px;

  }
  .samsung-navigationbar{
    padding: 1rem 1.5rem 0 1.5rem ;
}
.sellingbrands-container{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    justify-content: center;
}
.brands-card{
  display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
}
/* footer */
.footer{
  background-color: gray;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: black;
  padding: 50px 60px 50px;
}
.contact-us-logos{
  display: flex;
  gap: 20px;
}
.payment-img{
  text-align: right;
  display: block;
  background-repeat: no-repeat;
}
