body{
    align-items: center;
    justify-content: center;
}
.top-bar-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
}
.business-logo{
    grid-column: 1 / span 2; /* Starts at column 1, spans 2 columns */
    background-repeat: no-repeat;
    background-position: center 50px;
}
  .search-bar{
    width:100%;
    position:relative;
  }
.search-bar .fa{
    position:absolute;
    right:15px;
    top:10px;
}
  .top-bar-container input {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Add padding for the icon */
    border: 1px solid #ccc;
    border-radius: 4px;
    flex:1;
}

.top-bar-icons{
    gap: 20px;
    display: flex;
}
.menu{
    background-color: black;
    display: block;
    color: white;
}

.warranty-tabs{
    display: flex;
    justify-content: center;
}
.register-tab{
    padding: 6px 12px;
    overflow: hidden;
    position: relative;
    font-size: 0.875rem;
    max-width: 264px;
    min-width: 72px;
    box-sizing: border-box;
    min-height: 48px;
    text-align: center;
    flex-shrink: 0;
    font-family: Paytone One, Open Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    line-height: 1.75;
    white-space: normal;
    text-transform: uppercase;
    margin: 0;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    outline: 0;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
}
.register-dev{
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.check-tab{
    color: rgb(238, 238, 238);
    opacity: 2;
    padding: 6px 12px;
    overflow: hidden;
    position: relative;
    font-size: 0.875rem;
    max-width: 264px;
    min-width: 72px;
    box-sizing: border-box;
    min-height: 48px;
    text-align: center;
    flex-shrink: 0;
    font-family: Paytone One, Open Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    line-height: 1.75;
    white-space: normal;
    text-transform: uppercase;
    margin: 0;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    outline: 0;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
}

.contact form {
    width: 600px;
    text-align: center;
}

form .input-box {
    display: flex;
    justify-content: space-between;
}

.field .error-text{
    font-size: 15px;
    color: red;
    text-align: left;
    margin: -5px 0 20px;
    display: none; /*This is to make sure the error-text does not display on the UI unless a condition is not met*/
}

form .textarea-field .error-text {
    margin-top: -10px;
}

.input-box .input-field {
    width: 50%;
}
.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color:#ededed;
    margin: 12px 0;
}

.field .item::placeholder {
    color:rgba(255, 255, 255, 3);
}
 
/*Now let's set the message box cant be resized*/
form .textarea-field .item {
    resize: none;
}


.warranty-heading{
    padding-top: 1.25rem;
    margin-top: 1.25rem;
    margin: 0 0 0.5rem;
    font-size: 1.25rem;
    text-align: center;
}
.warranty-explanation{
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
p {
    font-family: open-sans;
}
.warranty-form{
    width: 75%;
    margin: 0 auto;
    padding: 2rem 0;
    grid-template-columns: repeat(2,1fr);
    display: flex;
    justify-content: space-between;
}
.warranty-container{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
}
.warranty-item{
    margin: 0;
    box-sizing: border-box;
}
.warran{
    margin: 8px;
    margin-bottom: 1rem;
    width: 100%;
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}
.label-name {
    display: block;
    transform-origin: top left;
    color: rgba(52, 49, 76, 0.54);
    padding: 0;
    font-size: 14px;
    font-family: Paytone One, Open Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    line-height: 1;
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(0, 24px) scale(1);
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}
.warranty-terms{
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    padding-top: 50px;
}
/*button*/
.warranty-btn{
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    font-family: Paytone One, Open Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.75;
    border-radius: 4px;
    text-transform: none;
    font-size: 14px;
    min-width: 64px;
    box-sizing: border-box;
    background-color: rgb(61, 141, 129);
    width: 100%;
    margin: 2rem 0;
    padding: 8px;
}